{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- About content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <section id="about-textarea" class="col-md-6 custom-about text-white text-left static-card rounded-100 my-3 p-4">
            <!-- Header with content -->
            <header>
                <h1 class="text-black">Welcome to The Boardgame Shelf!</h1>
            </header>
            <div>
                <p>
                    We are a team of passionate board gamers and we have created this platform especially for board game lovers who
                    want to buy and/or sell used games. Whether you’re tidying up your collection or hunting for a hard-to-find treasure,
                    you’ll find our site easy and fun to use.
                </p>
                <p>
                    <b class="brown-bold">Wanna sell a game?</b> Simply
                    <a href="https://the-boardgame-shelf-e0153506acf8.herokuapp.com/marketplace/add/"
                        target="_blank" aria-label="Opens in a new tab"><u>upload your game</u></a> image and description.
                    When your game is sold, you will receive detailed instructions on how to receive your payment quickly and
                    securely.
                </p>
                <p>
                    <b class="brown-bold">Are you looking for a game to buy instead?</b> Explore our
                    <a href="https://the-boardgame-shelf-e0153506acf8.herokuapp.com/marketplace/"
                        target="_blank" aria-label="Opens in a new tab"><u>Marketplace</u></a>.
                </p>
                <p>
                    Currently in its draft version, our project aims to build a friendly community where gamers can trade, sell, and
                    discover new games with ease.
                </p>
                <p>
                    <b class="brown-bold">Stay tuned for exciting new features coming soon!</b>
                </p>
            </div>
        </section>
        <div class="col-md-6 border border-4 mb-4 mx-4 static-card rounded-100 feedback-form">
            <!-- Form section -->
            <section class="static-card my-4">
                <!-- Feedback form message -->
                <header class="text-center mb-4">
                    <h2>Get in touch</h2>
                    <p>Feel free to leave a message.</p>
                </header>
                <div class="text-center">
                    <form method="post">
                        {{ feedback_request | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-form btn-outline-black" type="submit">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}