{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <h1 id="order-confirmation-header" class="logo-font">Order Confirmation</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-4">
    <div class="row">
        <div class="col text-center">
            <h2 class="success-message">Thank you!</h2>
            <hr>
            <p class="text-black order-confirmation">Your order information is below. <br>
                A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="order-confirmation-wrapper p-3 border rounded shadow-sm">
                <h3 class="mb-4">Order Details</h3>

                <div class="order-info mb-4">
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Order Number:</div>
                        <div class="col-md-8 text-md-right">{{ order.order_number }}</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Order Date:</div>
                        <div class="col-md-8 text-md-right">{{ order.date }}</div>
                    </div>
                </div>

                <h4 class="mb-3">Items Ordered</h4>
                {% for item in order.lineitems.all %}
                <div class="row mb-2">
                    <div class="col-md-4">
                        <div class="text-uppercase">{{ item.game.title }}</div>
                        <p class="small mb-0 text-muted">Sold by {{ item.game.seller.username }}</p>
                    </div>
                    <div class="col-md-8 text-md-right">
                        <p class="small mb-0">{{ item.quantity }} @ £{{ item.game.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <h4 class="mt-4 mb-3">Delivery Information</h4>
                <div class="delivery-info mb-4">
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Full Name:</div>
                        <div class="col-md-8 text-md-right">{{ order.full_name }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Address, Line 1:</div>
                        <div class="col-md-8 text-md-right">{{ order.street_address1 }}</div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Address, Line 2:</div>
                        <div class="col-md-8 text-md-right">{{ order.street_address2 }}</div>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">County:</div>
                        <div class="col-md-8 text-md-right">{{ order.county }}</div>
                    </div>
                    {% endif %}
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Town or City:</div>
                        <div class="col-md-8 text-md-right">{{ order.town_or_city }}</div>
                    </div>
                    {% if order.postcode %}
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Postal Code:</div>
                        <div class="col-md-8 text-md-right">{{ order.postcode }}</div>
                    </div>
                    {% endif %}
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Country:</div>
                        <div class="col-md-8 text-md-right">{{ order.country }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Phone Number:</div>
                        <div class="col-md-8 text-md-right">{{ order.phone_number }}</div>
                    </div>
                </div>
                
                <h4 class="mt-4 mb-3">Billing Information</h4>
                <div class="billing-info">
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Delivery:</div>
                        <div class="col-md-8 text-md-right">included in the game price</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 text-muted">Order Total:</div>
                        <div class="col-md-8 text-md-right">£{{ order.order_total }}</div>
                    </div>

                </div>
                </div>
                </div>
                </div>
                
                <div class="row mt-4">
                    <div class="col text-center">
                        <a href="{% url 'profile' %}" class="btn btn-black m-2">
                            <span class="icon mr-2">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            Back to Profile
                        </a>
                        <a href="{% url 'games_list' %}" class="btn btn-black m-2">
                            <span class="icon mr-2">
                                <i class="fa-solid fa-dice"></i>
                            </span>
                            Find your next game!
                        </a>
                    </div>
                </div>
                </div>
                {% endblock %}


