{% if widget.is_initial %}
<p>{{ widget.initial_text }}:</p>
<a href="{{ widget.value.url }}">
    <img width="96" height="96" class="rounded shadow-sm" src="{{ widget.value.url }}">
</a>
<br>
{{ widget.input_text }}
{% endif %}

<label for="{{ widget.attrs.id }}" id="btn-select-image" class="btn btn-black rounded-0 btn-file">
    Select Image
</label>
<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}
    style="position: absolute; left: -9999px;">
<p class="text-success" id="filename"></p>
