{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div id="gamelist-detail" class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if game.image %}
                    <a href="{{ game.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ game.image.url }}" alt="{{ game.title }}">
                    </a>
                    {% else %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="/media/no-image-placeholder.png" alt="{{ game.title }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ game.title }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ game.price }}</p>
                    {% if game.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'games_list' %}?category={{ game.category.name }}">
                            <small class="text-muted"><i class="fas fa-play"></i> {{ game.category }}</small>
                        </a>
                        <p class="mb-0 text-left">Condition: {{ game.get_condition_display }}</p>
                    </p>
                    {% endif %}
                    
                    <p class="mb-0 text-left">Seller: {{ game.seller }}</p>
                    <p class="mt-3">Description: {{ game.description|safe }}</p>
                    <p class="mt-3">What the seller says: {{ game.seller_comment|safe }}</p>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_game' game.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_game' game.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <!-- Form to add a product to the shopping bag -->
                    <form class="form" action="{% url 'add_to_bag' game.id %}" method="POST">
                        <!-- Django template tag to include the CSRF token for security -->
                        {% csrf_token %}
                            <div class="col-12">
                                <!-- Link to go back to the products page -->
                                <a href="{% url 'games_list' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <!-- Icon for the button -->
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <!-- Submit button to add the product to the bag -->
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <!-- Hidden input to store the current page URL for redirection after form submission -->
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}