html, body {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url('/media/boardgameshelf-betterquality.jpeg') no-repeat center center fixed;
  background-size: cover;
  /* height: calc(100vh - 164px); */
  color: #555;
  font-family: "Poppins", sans-serif;
}

.main {
  flex: 1;
}
/* Footer  */
footer {
    background-color: #4C2527;
    color: #fff;
    margin-top: auto;
}

footer h5 {
    font-weight: 700;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #aaa;
}

footer .fab {
    font-size: 1.5rem;
}

/* margins for input buttons, etc. */
button, input, optgroup, select, textarea {
    margin: 0.2rem !important;
}

.custom-about {
  margin-top: 3rem;
}

.success-message {
  margin-top: 8rem;
  padding-left:0 !important;
  padding-bottom: 0 !important;
}

.order-confirmation {
  padding: 1rem;
}

#about-page {
  color: #4C2527;
}

.feedback-form {
  margin-top: 3rem !important;
  color: #785555;
}

#about-textarea {
  margin-top: 18rem !important;
}

/* Shopping Bag */
#shopping-bag {
  margin-top: 5rem;
  padding: 0;
}

#shopping-button {
  margin-bottom: 3rem;
}

/* Mailchimp */
#mc_embed_signup {
  background: #fff;
  clear: left;
  width: 600px;
  color: #000;
}

#mc_embed_signup_scroll {
  padding: 1rem;
}

/* Error messages */
.help-block {
  color: #bb414d;
}

.header-title {
  margin-top: 20rem !important; /* push the header down */
  margin-bottom: 15rem;
}                              

/* Header image */
.header-image {
  background: url("/media/boardgame_shelf_banner_two.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 12rem;
  margin: 0;
}

/* List of games images */
.image-container {
  width: 300px; /* Set desired width */
  height: 200px; /* Set desired height */
  overflow: hidden; /* Hide overflow to ensure images fit */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-container img {
  width: 50%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
  display: inline-block;
}

/* from Bulma - framework similar to bootstrap */
/* to ensure font awesome icons stay centred and have consistent size */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
  padding: 1.3rem;
}

/* logo only takes up as much space as the text requires */
.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: #4C2527 ;
  color: white;
  min-width: 260px;
  margin-bottom: 0.6rem;
  border-radius: 15px;
}

.btn-black {
  background-color: #4C2527 !important; 
  border-radius: 15px;
  border-radius: 15px !important;
  color: white;
}

.btn-outline-black {
    background: white;
    color: #785555 !important;
    border: 1px solid rgb(111, 46, 8)  !important;
    border-radius: 15px !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: white;
    color: rgb(111, 46, 8) !important;
    border: 2px solid rgb(111, 46, 8) !important;
    border-radius: 15px !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  /* background: #222; */
  background-color: rgb(111, 46, 8)!important; 
  color: #ffffff;
  border-radius: 15px !important;
  font-weight: 500;
  border: 2px solid #4C2527;
  
}

.text-black {
  color: #785555 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  /* background: rgb(0, 0, 0) !important; */
  background-color: #4C2527;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position:fixed;
  background: rgb(246, 250, 246);
  z-index: -1; /* to make sure it sits behind all the content */
}

/* Filter badges */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Gamelist container */
#gamelist-container {
  margin-top: 2rem; /* Override existing margin-top */
  color: rgb(74, 79, 79);
}

#gamelist-detail {
  margin-top: 2rem; /* Override existing margin-top */
  color: rgb(74, 79, 79);
}

/* Textarea */
#id_bio {
    width: 300px;
    height: 100px;
}

.management {
  margin-top: 7rem;
}

.logo-font-management {
  padding-left: 0rem !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.allauth-form-inner-content {
    margin-top: 8rem;
    margin-left: 4rem;
    padding-bottom: 5rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	  display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Hover effect */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	  color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	  color: #17a2b8; /* text-info */
}

/* Game Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .logo-on-sale {
    padding-top: 6rem;
    font-size: 2.3rem;
  }

  .title-above {
    margin-top: 8rem;
  }

  #gamelist-detail {
    margin-top: 9rem;
  }

  /* push body down to the bottom of the main page header */
  .header-container {
    padding-top: 164px;
  }

  .nav-link {
    padding: 0.3rem 1rem;
  }

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-container {
    padding-top: 116px;
  }
  
  .nav-link {
    padding: 0 !important;
  }

  .success-message {
    margin-top: 3rem;
  }

  
}

/* CSS rules for screens between 1024px and 1366px */
@media (min-width: 1024px) and (max-width: 1366px) {
  .title-above {
    margin-top: 10rem !important;
  }

  /* Shopping Bag */
  #shopping-bag {
  margin-top: 10rem;
  padding: 0;
}
    
}