html {
  height: 100%;
}

body {
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: "Poppins", sans-serif;
}

.header-title {
  margin-top: 30rem !important; /* can't find another way to make */
}                               /* to make the header go down */

/* Gamelist container */
#gamelist-container {
  margin-top: 10rem; /* Override existing margin-top */
  color: rgb(74, 79, 79);
}

#gamelist-detail {
  margin-top: 15rem; /* Override existing margin-top */
  color: rgb(74, 79, 79);
}

/* Header image */
.header-image {
  background: url("/media/boardgame_shelf_banner_two.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 12rem;
  margin: 0;
}

/* List of games images */

.image-container {
  width: 300px; /* Set desired width */
  height: 200px; /* Set desired height */
  overflow: hidden; /* Hide overflow to ensure images fit */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
}

/* from Bulma - framework similar to bootstrap */
/* to ensure font awesome icons stay centred and have consistent size */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

/* logo only takes up as much space as the text requires */
.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

/* text-black class and border-black class similar to bootstrap colour helper classes */
/* that bootstrap doesn't seem to have */
/* CHECK: if current version has these classes  */

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: rgb(0, 0, 0) !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position:fixed;
  background: rgb(246, 250, 246);
  z-index: -1; /* to make sure it sits behind all the content */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  /* push body down to the bottom of the main page header */
  .header-container {
    padding-top: 164px;
  }

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}