<div class="collapse navbar-collapse" id="main-nav">
    <!-- w-auto: width will adjust based on its content -->
    <!-- mx-auto: centering elements horizontally within their container -->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Board Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'games_list' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'games_list' %}?sort=condition&direction=asc" class="dropdown-item ">By Condition</a>
                <a href="{% url 'games_list' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'games_list' %}" class="dropdown-item">All Board
                    Games</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'games_list' %}?category=Storytelling" class="dropdown-item">Storytelling</a>
                <a href="{% url 'games_list' %}?category=Party-Games" class="dropdown-item ">Party Games</a>
                <a href="{% url 'games_list' %}?category=City-Building" class="dropdown-item ">City Building</a>
                <a href="{% url 'games_list' %}?category=Deck-Building" class="dropdown-item">Deck
                    Building</a>
                <a href="{% url 'games_list' %}?category=Strategy" class="dropdown-item">Strategy</a>
                <a href="{% url 'games_list' %}?category=Worker-Placement" class="dropdown-item ">Worker placement</a>
                <a href="{% url 'games_list' %}?category=War-games" class="dropdown-item ">War games</a>
                <a href="{% url 'games_list' %}?category=Miniatures" class="dropdown-item">Miniatures</a>
                <a href="{% url 'games_list' %}?category=Memory" class="dropdown-item">Memory</a>
                <a href="{% url 'games_list' %}?category=Placement" class="dropdown-item ">Placement</a>
                <a href="{% url 'games_list' %}?category=Area-control" class="dropdown-item ">Area control</a>
                <a href="{% url 'games_list' %}?category=Bluffing" class="dropdown-item">Bluffing</a>
                <a href="{% url 'games_list' %}?category=Cooperatives" class="dropdown-item ">Cooperatives</a>
                <a href="{% url 'games_list' %}?category=Role-playing" class="dropdown-item">Role-playing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Condition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'games_list' %}?condition=As-new" class="dropdown-item">As new</a>
                <a href="{% url 'games_list' %}?condition=Great" class="dropdown-item ">Great</a>
                <a href="{% url 'games_list' %}?condition=Good" class="dropdown-item ">Good</a>
                <a href="{% url 'games_list' %}?condition=Fair" class="dropdown-item">Fair</a>
                <a href="{% url 'games_list' %}?condition=Signs-of-times" class="dropdown-item">Signs of times</a>
                <a href="{% url 'games_list' %}?condition=Heavily-used" class="dropdown-item">Heavily used</a>
            </div>
        </li>
    </ul>
</div>