<div class="collapse navbar-collapse" id="main-nav">
    <!-- w-auto: width will adjust based on its content -->
    <!-- mx-auto: centering elements horizontally within their container -->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Board Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'games_list' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'games_list' %}?sort=condition&direction=asc" class="dropdown-item ">By Condition</a>
                <a href="{% url 'games_list' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'games_list' %}" class="dropdown-item">All Board
                    Games</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'games_list' %}?category=storytelling" class="dropdown-item">Storytelling</a>
                <a href="{% url 'games_list' %}?category=party_games" class="dropdown-item ">Party Games</a>
                <a href="{% url 'games_list' %}?category=city_building" class="dropdown-item ">City Building</a>
                <a href="{% url 'games_list' %}?category=deck_building" class="dropdown-item">Deck Building</a>
                <a href="{% url 'games_list' %}?category=strategy" class="dropdown-item">Strategy</a>
                <a href="{% url 'games_list' %}?category=worker_placement" class="dropdown-item ">Worker placement</a>
                <a href="{% url 'games_list' %}?category=war_games" class="dropdown-item ">War games</a>
                <a href="{% url 'games_list' %}?category=miniatures" class="dropdown-item">Miniatures</a>
                <a href="{% url 'games_list' %}?category=memory" class="dropdown-item">Memory</a>
                <a href="{% url 'games_list' %}?category=placement" class="dropdown-item ">Placement</a>
                <a href="{% url 'games_list' %}?category=area_control" class="dropdown-item ">Area control</a>
                <a href="{% url 'games_list' %}?category=bluffing" class="dropdown-item">Bluffing</a>
                <a href="{% url 'games_list' %}?category=cooperatives" class="dropdown-item ">Cooperatives</a>
                <a href="{% url 'games_list' %}?category=role_playing" class="dropdown-item">Role-playing</a>
                <a href="{% url 'games_list' %}?category=storytelling,party_games,city_building,deck_building,strategy,worker_placement,war_games,miniatures,memory,placement,area_control,bluffing,cooperatives,role_playing" class="dropdown-item">All categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Condition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'games_list' %}?condition=as_new" class="dropdown-item">As new</a>
                <a href="{% url 'games_list' %}?condition=great" class="dropdown-item ">Great</a>
                <a href="{% url 'games_list' %}?condition=good" class="dropdown-item ">Good</a>
                <a href="{% url 'games_list' %}?condition=fair" class="dropdown-item">Fair</a>
                <a href="{% url 'games_list' %}?condition=signs_of_time" class="dropdown-item">Signs of time</a>
                <a href="{% url 'games_list' %}?condition=heavily_used" class="dropdown-item">Heavily used</a>
                <a href="{% url 'games_list' %}?condition=as_new,great,good,fair,signs_of_time,heavily_used" class="dropdown-item">All conditions</a>
            </div>
        </li>
    </ul>
</div>